#P test

In [ ]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp

In [ ]:
df = pd.read_csv("/content/apy.csv")
df

                        State_Name District_Name  ...     Area Production
0      Andaman and Nicobar Islands      NICOBARS  ...   1254.0     2000.0
1      Andaman and Nicobar Islands      NICOBARS  ...      2.0        1.0
2      Andaman and Nicobar Islands      NICOBARS  ...    102.0      321.0
3      Andaman and Nicobar Islands      NICOBARS  ...    176.0      641.0
4      Andaman and Nicobar Islands      NICOBARS  ...    720.0      165.0
...                            ...           ...  ...      ...        ...
34292                        Bihar       KATIHAR  ...    964.0     1401.0
34293                        Bihar       KATIHAR  ...  39459.0    69873.0
34294                        Bihar       KATIHAR  ...  20299.0   110570.0
34295                        Bihar       KATIHAR  ...   3512.0     4060.0
34296                        Bihar       KATIHAR  ...      NaN        NaN

[34297 rows x 7 columns]

In [ ]:
df.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
Crop_Year1 = df.groupby('Crop_Year',sort = False).size()
Crop_Year1

Crop_Year
2000    13658
2001    13361
2002    16671
2003    17287
2004    14117
2005    13799
2006    14328
2010    14065
1997     8899
1998    11533
1999    12515
2007    14526
2008    14550
2009    14116
2011    14071
2012    13410
2013    13650
2014    10973
2015      562
dtype: int64

In [ ]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [ ]:
Production_mean = df.Production
Production_m = np.mean(Production_mean)

In [ ]:
type(Production_m)

float

In [ ]:
df=df.sort_values(df.columns[2])

In [ ]:
df

           State_Name   District_Name  ...      Area Production
201128  Uttar Pradesh        AZAMGARH  ...       9.0        4.0
205390  Uttar Pradesh          BIJNOR  ...  186448.0   505015.0
205391  Uttar Pradesh          BIJNOR  ...    3390.0     2336.0
205392  Uttar Pradesh          BIJNOR  ...      58.0      139.0
205393  Uttar Pradesh          BIJNOR  ...     673.0      578.0
...               ...             ...  ...       ...        ...
152235         Odisha  JAGATSINGHAPUR  ...       7.0        1.9
152234         Odisha  JAGATSINGHAPUR  ...   45996.0    16650.6
152233         Odisha  JAGATSINGHAPUR  ...      13.0        3.6
156175         Odisha      MALKANGIRI  ...      52.0       12.2
148201         Odisha       BALESHWAR  ...    2079.0     2490.6

[246091 rows x 7 columns]

In [ ]:
Crop_Year1 = df.groupby('Crop_Year',sort = False).size()
Crop_Year1

Crop_Year
1997     8899
1998    11533
1999    12515
2000    13658
2001    13361
2002    16671
2003    17287
2004    14117
2005    13799
2006    14328
2007    14526
2008    14550
2009    14116
2010    14065
2011    14071
2012    13410
2013    13650
2014    10973
2015      562
dtype: int64

In [ ]:
Production_sample1 = df.iloc[0:8899,-1]
Production_sample1

201128         4.0
205390    505015.0
205391      2336.0
205392       139.0
205393       578.0
            ...
180932    118640.0
157183      1823.0
178347    102500.0
243309     40868.0
243308     14523.0
Name: Production, Length: 8899, dtype: float64

In [ ]:
Production_Mean = np.mean(df.Production)
Production_Mean

582503.4422509819

In [ ]:
Production_sample1_Mean = np.mean(Production_sample1)
Production_sample1_Mean

95664.01247471343

In [ ]:
import numpy as np
X2_Mean = Production_sample1_Mean
X_Mean = Production_Mean
print(X_Mean)
print(X2_Mean)

582503.4422509819
95664.01247471343

In [ ]:
import numpy as np
Sigma = np.std(df.Production)
Sigma

17065777.964949712

In [ ]:
from numpy import sqrt
n1 = 8988
SD_1 = Sigma/(sqrt(n1))
SD_1

180009.14082912184

In [ ]:
import scipy.stats as stats
from numpy import round
z = (X_Mean - X2_Mean) / Sigma

p_value = stats.norm.cdf(X2_Mean, X_Mean, Sigma)
print(p_value)

0.48862082390845696

In [ ]:
#Since we assumed our alpha as 0.5
if p_value < 0.5:
  print("Hypothesis is rejected")
else :
  print("Hypothesis is Accepted")

Hypothesis is rejected