In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/apy.csv')
df

                         State_Name District_Name  ...      Area Production
0       Andaman and Nicobar Islands      NICOBARS  ...    1254.0     2000.0
1       Andaman and Nicobar Islands      NICOBARS  ...       2.0        1.0
2       Andaman and Nicobar Islands      NICOBARS  ...     102.0      321.0
3       Andaman and Nicobar Islands      NICOBARS  ...     176.0      641.0
4       Andaman and Nicobar Islands      NICOBARS  ...     720.0      165.0
...                             ...           ...  ...       ...        ...
246086                  West Bengal       PURULIA  ...     306.0      801.0
246087                  West Bengal       PURULIA  ...     627.0      463.0
246088                  West Bengal       PURULIA  ...     324.0    16250.0
246089                  West Bengal       PURULIA  ...  279151.0   597899.0
246090                  West Bengal       PURULIA  ...     175.0       88.0

[246091 rows x 7 columns]

In [ ]:
df.shape

(246091, 7)

In [ ]:
Production_mean = np.mean(df.Production)
Production_mean

582503.4422509839

In [ ]:
from scipy.stats import ttest_rel

In [ ]:
a = df.iloc[0:25,-1]
b = df.iloc[52:77,-1]
a,b

(0         2000.00
 1            1.00
 2          321.00
 3          641.00
 4          165.00
 5     65100000.00
 6          100.00
 7            2.00
 8           15.00
 9          169.00
 10        2061.00
 11           1.00
 12         300.00
 13         192.00
 14    64430000.00
 15         100.00
 16           1.00
 17          33.00
 18         510.84
 19        2083.00
 20        1278.00
 21          13.50
 22         208.00
 23    67490000.00
 24          28.80
 Name: Production, dtype: float64, 52          70.00
 53         477.60
 54         976.00
 55           0.68
 56          85.13
 57    59370000.00
 58           9.00
 59          21.00
 60           0.50
 61          86.00
 62         450.00
 63           1.03
 64          10.00
 65          41.75
 66        1610.00
 67           8.50
 68         260.50
 69          25.00
 70           9.64
 71          18.22
 72           1.10
 73         208.00
 74           0.50
 75           1.16
 76        3425.00
 Name: Production, dtype: float64)

In [ ]:
ttest_rel(a,b)

Ttest_relResult(statistic=1.5097174037737646, pvalue=0.14416979235234845)

In [ ]:
pip install pingouin

In [ ]:
import pingouin as pt

In [ ]:
pt.ttest(a,b,paired=True)

               T  dof alternative  ...   cohen-d   BF10     power
T-test  1.509717   24   two-sided  ...  0.313834  0.574  0.325394

[1 rows x 8 columns]